@keyframes show {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInFromDown {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
