@import "./../../../../styles/colors.scss";
@import "./../../../../styles/configs.scss";

.tabs-content {
  display: flex;

  &__desc {
    max-width: 210px;
    width: 100%;
    text-transform: uppercase;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  &__header {
    font-size: 20px;
    margin-bottom: 8px;
    color: $grey-1;
    font-weight: 300;
  }

  &__title {
    color: $grey-3;
    font-size: 32px;
    font-weight: 300;
  }

  &__text {
    font-size: 13px;
    line-height: 2em;
    font-weight: 300;

    & > p {
      margin-bottom: 16px;
    }
  }

  @media screen and (max-width: $breakpoint-down-xs) {
    flex-direction: column;
  }
}
