@import "./../base/_mixins";

.button {
	@include center;
	transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 1px;
	color: $white;

	&--fluid {
		width: 100%;
	}

	&--min-content {
		width: min-content;
	}

	&--size-sm {
		min-height: 46px;
		font-size: 14px;
		width: 145px;
	}

	&--size-md {
		min-height: 44px;
		font-size: 12px;
		width: 157px;
	}

	&--size-lg {
		min-height: 56px;
		width: 225px;
		font-size: 14px;
	}

	&--transparent {
		border-width: 1px;
		border-style: solid;

		&:hover {
			background-color:rgba(0, 0, 0, 0.5); 
		}
	}

	&--red {
		background-color: $red;
		color: $white;

		&:hover {
			background-color:#d63324;  
		}
	}
}

.menu-btn {
	background-color: transparent;
	position: relative;
	display: block;
	outline: none;
	padding: 0;
	cursor: pointer;
	border: 0;
	height: 24px;
	width: 24px;

	p {
		background-color: #ffffff;
		transition: 0.25s ease;
		transform: rotate(0deg);
		position: absolute;
		display: block;
		opacity: 1;
		height: 3px;
		width: 100%;

		&:nth-of-type(1) {
			left: 0;
			top: 0;
		}

		&:nth-of-type(2) {
			right: 0;
			top: 10px;
		}

		&:nth-of-type(3) {
			left: 0;
			top: 20px;
		}
	}

	&:hover p {
		background-color: $red;

		&:nth-of-type(1) {
			transform: rotate(135deg);
			top: 10px;
		}

		&:nth-of-type(2) {
			opacity: 0;
			right: 26px;
		}

		&:nth-of-type(3) {
			transform: rotate(-135deg);
			top: 10px;
		}
	}
}