.divider {
    margin-bottom: 40px;
    max-width: 195px;
    position: relative;
    width: 100%;

    &-dot {
        width: 35px;
        padding: 0 14px;
        margin: 0 auto;
        height: 7px;
    }

    &-lines {
            border-radius: 50%;
            height: 7px;
            width: 7px;
            background-color: $red;
            z-index: 2;

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                display: block;
                content: "";
                height: 1px;
                width: 80px;
            }

            &:after {
                position: absolute;
                right: 0;
                top: 50%;
                display: block;
                content: "";
                height: 1px;
                width: 80px;
            }

            &--white {
                &:before {
                    background-color: $white;
                }

                &:after {
                    background-color: $white;
                }
            }

            &--grey {
                &:before {
                    background-color: $light-grey;
                }

                &:after {
                    background-color: $light-grey;
                }
            }
        }
    }