.title {
    text-transform: uppercase;
    font-size: 36px;
	line-height: 43px;
    font-weight: 900;
    letter-spacing: 0.0432em;

	p {
		font-family: "Raleway";
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.02em;
	}
    
    &--grey {
        color: $title-grey;;
    }
}
