.menu {
  background-image: url('../../../assets/images/menu_bg.png');
  background-repeat: repeat;

  &__container {
    min-height: 900px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__title {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;

    .section-title__divider {
      margin: 0 auto;
    }
  }
}
