@import '../../../styles/colors.scss';

.navbar {
  height: 100%;
  display: flex;
  align-items: center;

  &__item {
    margin-top: 8px;
    margin-left: 32px;
    font-family: 'Prata', serif;
    border-bottom: 1px transparent solid;
    padding-bottom: 5px;
    transition: 0.3s ease all;
    color: $white;

    &:hover {
      border-bottom: 1px $white solid;
      color: $white !important;
    }
  }
}
