@import "./../../../../styles/colors.scss";
@import "./../../../../styles/configs.scss";

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInIcon {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.6;
  }
}

.tabs-content {
  display: flex;
  min-height: 250px;
  animation-name: fadeIn;
  animation-duration: 700ms;
  animation-timing-function: linear;

  &__desc {
    max-width: 250px;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__icon {
    justify-content: flex-start !important;
    margin-bottom: 8px;
    opacity: 0.6;
    animation-name: fadeInIcon;
    animation-duration: 700ms;
    animation-timing-function: linear;
  }

  &__title {
    color: $grey-3;
    font-size: 32px;
    font-weight: 300;
  }

  &__text {
    font-size: 13px;
    line-height: 2em;
    font-weight: 300;

    & > p {
      margin-bottom: 16px;
    }
  }

  @media screen and (max-width: $breakpoint-down-xs) {
    flex-direction: column;
  }
}
