body {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: 'Montserrat', Arial, sans-serif;
}

button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
