.features {

}

.features__content-container {
    min-height: 980px;
    padding: 104px 16px 146px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.features__title {
    margin-bottom: 124px;
}

.features__list {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list__item {
    min-height: 120px;
    width: 100%;
    max-width: calc((100% - 48px) / 3);
    display: flex;
    margin-bottom: 46px;
}

.list__item:nth-child(n+7) {
    margin-bottom: 0;
}


@media (max-width: 991px) {
	.list__item {
		max-width: calc((100% - 48px) / 2);
    }
    
    .list__item:nth-child(7) {
        margin-bottom: 46px;
    }
}

@media (max-width: 575px) {
	.list__item {
        max-width: calc(100% - 48px);
    }
    
    .list__item:nth-child(8) {
        margin-bottom: 46px;
    }
}

.list__item-icon {
    width: 66px;
    flex-shrink: 0;
    margin-right: 16px;
}

.icon-wrapper {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.icon-wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-wrapper--olive {
    background-color: #73c8b7;
}

.icon-wrapper--blue {
    background-color: #31AAE2;
}

.icon-wrapper--violet {
    background-color: #C183D6;
}

.icon-wrapper--pink {
    background-color: #EB768C;
}

.icon-wrapper--yellow {
    background-color: #EBD175;
}

.icon-wrapper--dark-blue {
    background-color: #718AC7;
}

.icon-wrapper--green {
    background-color: #4BE3A4;
}

.list__item-info p:first-child {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.list__item-info p:last-child {
    font-family: 'Muli', sans-serif;

}