.home {
    background-image: url(./../assets/images/home-bg.svg) ;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: #fcfcfc;
    background-size: 35%;
}

@media (max-width: 991px) {
    .home {
        background-image: none;
    }
}

.home__content-container {
    min-height: 100vh;
    padding: 128px;
    padding-bottom: 48px;
    display: flex;
	align-items: center;
}

.home__slider {
	max-width: 780px;
}

.slider__slide-title {
	position: relative;
	z-index: 1;
	margin-bottom: 70px;
}

.slider__slide-title h2 {
	font-size: 60px;
	text-transform: uppercase;
	line-height: 72px;
	font-weight: 900;
	color: #444444;
}

@media (max-width: 1024px) {
	.slider__slide-title h2 {
		font-size: 48px;
		line-height: 56px;
	}
}

.slider__slide-title:before {
	display: block;
	content: "";
	position: absolute;
	z-index: -1;
	background-color: #ffe400;
	border-radius: 50%;
	width: 190px;
	height: 190px;
	left: -32px;
	top: 50%;
	transform: translateY(-50%);
}

.slider__slide-subscription {
	font-family: "Lato";
	font-size: 13px;
	color: #757575;
	margin-bottom: 24px;
	line-height: 1.5;
	letter-spacing: 0.04em;
}

.slider__slide-button {
	width: 180px;
	margin-bottom: 40px;
}

.slider__dots {
	display: flex;
	align-items: center;
	height: 4px;
}

.slider__dot {
	width: 22px;
	height: 4px;
	margin-right: 4px;
	background-color: #e3e3e3;
}

.slider__dot:last-child {
	margin-right: 0;
}

.slider__dot--active {
	background-color: #444444;
}

.slider__dot:hover {
	background-color: #000;
}